{% load static %}
{% load socialaccount %}

<section class="loginpagesection" id="loginSection">
  <div class="leafy-auth-container" id="loginContainer">
    <button class="close-btn" id="closelogin">&times;</button>
    <div style="border-radius: 15px;background-color:white;align-items: center;justify-content: center;display: flex;" >
      <img style="width: 60px;border-radius: 15px;" src="{% static 'images/logo.png' %}" loading="lazy" alt="">
      <img style="width: 140px;border-radius: 15px;" src="{% static 'images/leafyreads.png' %}" loading="lazy" alt="">
    </div>
    <h3>Create Your Account</h3>
    <div class="leafy-sub-text">
      Already have an account? <a href="/" style="color:#4e8ef7;">Sign in</a>
    </div>
    <img style="width: 100%; height:25vh;" src="{% static 'images/login.gif' %}" loading="lazy" alt="Funny loading GIF" />

    <a href="{% provider_login_url 'google' %}?next={{request.path}}" class="leafy-auth-button google">
      <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" loading="lazy" alt="Google icon" />
      Continue with Google
    </a>

    <button class="leafy-auth-button github">
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" loading="lazy" alt="GitHub icon" />
      Sign in with GitHub
    </button>

    <button class="leafy-auth-button apple">
      <img src="https://cdn-icons-png.flaticon.com/512/0/747.png" loading="lazy" alt="Apple icon" />
      Sign in with Apple
    </button>

    <div class="leafy-terms">
      By clicking "signup" you agree to our <a href="{% url 'dashboard' %}">Terms of Service</a> & <a href="#">Privacy Policy</a>.
    </div>
  </div>

</section>