{% load static %}
<section class="loginpagesection" id="loginSection">
<div class="leafy-auth-container" id="loginContainer">
  <button class="close-btn" id="closelogin">&times;</button>
  <h2 style="margin-bottom: 5px;">Welcome to LeafyReads</h2>
  <h3>Create Your Account</h3>
  <div class="leafy-sub-text">
    Already have an account? <a href="/" style="color:#4e8ef7;">Sign in</a>
  </div>
  <img style="width: 100%; height:25vh;" src="{% static 'images/login.gif' %}" alt="Funny loading GIF" />

  <button class="leafy-auth-button google">
    <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="Google icon" />
    Continue with Google
  </button>

  <button class="leafy-auth-button github">
    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub icon" />
    Sign in with GitHub
  </button>

  <button class="leafy-auth-button apple">
    <img src="https://cdn-icons-png.flaticon.com/512/0/747.png" alt="Apple icon" />
    Sign in with Apple
  </button>

  <div class="leafy-terms">
    By clicking "signup" you agree to our <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>.
  </div>

  <div class="leafy-explore">
    Continue without signup? <a href="/">explore</a>
  </div>
</div>

</section>
