{% load static %}
{% load cloudinary %}

<div class="library-grid">
    {% for book in books %}
    {% if book.is_published %}
    <article class="library-card">
        <a href="{% url 'book' book.slug %}" class="book-cover-wrapper">
            <img style="height: 97%;" src="{{ book.cover_front.url }}"alt="{{ book.title }}"loading="lazy"onerror="this.onerror=null;this.src='https://placehold.co/400x600/333/fff?text=No+Cover';" />
            
            {% cloudinary "rpy7fckyfzgkmnftr6ln" loading="lazy" quality="auto" fetch_format="auto" style="position: absolute; top:0; left:0; width: 100%; height: 100%; pointer-events: none;" alt="frame" %}
        </a>

        <div class="library-content">
            <div>
                <a href="{% url 'book' book.slug %}" style="text-decoration: none;">
                    <div class="lib-header">
                        <h3>{{ book.title }}</h3>
                    </div>
                </a>
                <span class="lib-author">by {{ book.author }}</span>
                
                <p class="lib-summary">
                    {{ book.summary|default:"Discover a hidden gem in our collection. While this book currently lacks a detailed summary, it offers a unique journey waiting to be explored. Dive into the pages to uncover the characters, ideas, and stories that make this title special. Click 'Read Now' to start your adventure." }}
                </p>
            </div>

            <div class="lib-footer">
                <div class="lib-stats">
                    <div class="stat-item">
                        <i data-lucide="eye" style="width: 16px;"></i> {{ book.views_count }}
                    </div>
                    <div class="stat-item">
                        <i data-lucide="heart" style="width: 16px; color: #e11d48; fill: #e11d48;"></i> {{ book.likes_count }}
                    </div>
                </div>

                <a href="{% url 'book' book.slug %}" class="btn-lib-read">
                    Read Now
                </a>
            </div>
        </div>
    </article>
    {% endif %}
    {% endfor %}
</div>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
  lucide.createIcons();
</script>